<%!
    from controller_functions import is_logged_in
    from gaesessions import get_current_session
    from models.User import User
    from view_functions import make_user_header_html
%>
<%
    session = get_current_session()
    user_is_logged_in = is_logged_in() is not False
    if user_is_logged_in:
        ret = User.note_user_activity(session['my_id'], session['my_last_seen'])
        if ret:
            session['my_last_seen'] = ret
        elif ret is False:
            import logging
            logging.warn("terminating session which specified an invalid user ID %s (should only happen if a user is deleted and then they access the site w/o clearing their cookies)" % session['my_id'])
            session.terminate()  # user no longer exists
            user_is_logged_in = False
%>
<%def name="title_sep()"> - </%def>
<%def name="page_title()">${next.title()}</%def>
<%def name="subtitle()"></%def>
<%def name="head()"></%def>
<%def name="header2()"></%def>
<%def name="sidebar_body()"></%def>
<%def name="sidebar()"><div id="sidebar">${next.sidebar_body()}</div></%def>
<%def name="footer()"></%def>
<%def name="get_if_present(var_name)">
	% if context.get(var_name, None):
		${context[var_name]}
	% endif
</%def>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>${next.title() | h}${next.title_sep()}CraigNotes</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.1.0/build/cssreset/reset.css&amp;3.1.0/build/cssfonts/fonts.css&amp;3.1.0/build/cssbase/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
${next.head()}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18090143-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
    <noscript><div class="errmsg">CraigNotes works best with JavaScript enabled.</div></noscript>
    <div id="wrap">
		<a id="logo" href="/"></a>
        <div id="header">
            <div class="hf-links" id="header-links">
                ${make_user_header_html(user_is_logged_in, session, request.path)} |
                <a href="/">about</a>
            </div>
        </div>
        <div id="titles">
			<div id="title">${next.page_title() | h}
				<span id="subtitle">${next.subtitle() | h}</span>
			</div>
		</div>
        % if request.get('err'):
        <div class="errmsg">${request.get('err') | h}</div>
        % endif
        % if request.get('info'):
        <div class="infomsg">${request.get('info') | h}</div>
        % endif
		${next.header2()}
        <div id="main">
            ${next.body()}
        </div>
        ${next.sidebar()}
        <div id="base"></div>
    </div>

    <div id="footer">
        <div class="hf-links" id="footer-links">
            <a href="/">About</a>
            <a href="/contact">Contact Us</a>
            <a href="http://craignotes.uservoice.com/" target="_blank">Give us Feedback!</a>
            <a href="/legal">Legal</a>
            <a href="/privacy">Privacy</a>
        </div>
        <p id="copyright">&copy; 2010 CraigNotes</p>
    </div>
${next.footer()}
</body>
</html>
