<%def name="title()">Contact Us</%def>
<%inherit file="base.html"/>
<div class="text-block">
	<p>We <i>like</i> to hear from you, so please don't hesitate to contact us
	directly via e-mail:</p>

	<div style="background-color: #ff0;
				border: 5px double black;
				font-size: 182%;
				font-style: italic;
				font-weight: bold;
				height: 5em;
				margin:0 2em 1em;
				line-height:5em;
				text-align:center;
				vertical-align:middle;
				width:20em;">
		<a href="mailto:support@racephotohub.com">support@racephotohub.com</a>
	</div>

	<p>No robots work for us - we will <i>personally</i> reply to your e-mail as
	soon as possible.  Thanks in advance for taking the time to contact us!</p>

	<h1>Have a great idea?
	<a href="http://racephotohub.uservoice.com/forums/55956-general?lang=en" target="_blank">Please suggest it here!</a>
	</h1>
</div>
