<%!
    from controller_functions import is_logged_in
%>
<%def name="title_sep()"></%def>
<%def name="title()"></%def>
<%def name="page_title()"></%def>
<%def name="head()"><meta name="Description" content="CraigNotes is a free service which helps you track your favorite Craiglist ads - rate them, take notes, and hide irrelevant ads!"/></%def>
<%inherit file="base.html"/>
<%
	sess = is_logged_in()
	user_is_logged_in = sess is not False
	if user_is_logged_in:
		user_is_anon = (sess['my_id'][0]=='Z')
	else:
		user_is_anon = None
%>

<div class="text-block">
<p>
<b><a href="http://www.craignotes.org">CraigNotes</a></b> is a
<span style="color:green"><i>free</i></span> service which helps you track
<i>your</i> favorite ads on <a href="http://www.craigslist.org" target="_blank">Craigslist</a>.
</p>

<h2>Features:</h2>
<ul>
	<li>Rate ads</li>
	<li>Add notes to ads</li>
	<li>Hide irrelevant ads and spam</li>
	<li>Watch for the newest posts which match your needs</li>
	<li>Ads you're tracking don't disappear - on Craigslist, ads vanish after just one week.</li>
</ul>

% if user_is_anon or not user_is_logged_in:
	<h2 style="margin-top:2em">
	% if user_is_anon:
		Please sign-in to merge this anonymous account into a permanent account:
	% else:
		Please sign-in to start using the site:
	% endif
	</h2>
	% if not user_is_anon:
	<table class="form"><tr><td>
	% endif
	% if request.get('login_error'):
		<div class="error">Login failed: ${request.get('login_error')}</div>
	% endif
	<iframe src="http://craignotes.rpxnow.com/openid/embed?token_url=http%3A%2F%2F${base_url}%2Frpx_response?redir_to=${request.get('redir_to', '/tracker')}"
			scrolling="no" frameBorder="no" allowtransparency="true"
			style="width:400px;height:240px">
	</iframe>
	% if not user_is_anon:
	</td><td>
		<p style="margin-top:30px"><i>Or</i> <a href="/anonymous_login">try it out anonymously</a>.</p>
	</td></tr></table>
	% endif
% endif
% if user_is_logged_in:
	<p style="margin-top:2em">
	Go to <a href="/tracker">your search tracker</a> to review your existing searches,
	or to start a new one.</p>

	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.craignotes.org%2F&amp;layout=standard&amp;show_faces=true&amp;width=720&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:720px; height:80px;"></iframe>
% endif
</div>