<%def name="title()">Terms of Service</%def>
<%inherit file="base.html"/>

<p>CraigNotes is the best way to manage your Craigslist searches.  We created it
so that it is easier to keep track of your favorite ads.  Please be respectful
of our service.  Spam and other abuse interferes with our ability to provide
this free service, and we will not tolerate it.</p>


<h2>Accepting the Terms of Service</h2>
<p>Please read these terms carefully before using CraigNotes ("CraigNotes" or
the "Service").  By using or accessing the Service you agree to become bound by
all the terms and conditions of this Agreement.  If you do not agree to all the
terms and conditions of this Agreement, do not use the Services.  The Service
may be accessed by You ("You" or "User") under the following terms and
conditions:</p>


<h2>1. Access to the Service</h2>
<p>CraigNotes is solely for Your own use, and not for the use or benefit of any
third party.  CraigNotes may change, suspend, or discontinue any portion or all
of its features at any time.  CraigNotes may also impose limits on certain
features.  CraigNotes reserves the right, at its discretion, to modify these
Terms of Service at any time by posting revised terms on the Service.
CraigNotes will post a notice of such changes on the Service, when possible. You
shall be responsible for reviewing and becoming with any such modifications.</p>

<p>You must be at 13 years of age to use CraigNotes.  Those under 13 years of
age may not post any personal information to or on CraigNotes.</p>  You also
certify that you are legally permitted to use and access the Service and you
take full responsibility for the selection and use of the Service.  CraigNotes
makes no claim that the Service may be lawfully viewed or that it may be
downloaded outside of the United States.  Access to the Service may not be legal
by certain persons or in certain countries.  If You access the Service from
outside the United States, You do so at Your own risk and You are responsible
for compliance with the laws of Your jurisdiction.</p>

<p>You agree that CraigNotes and its creators will not be liable in any event to
You or any other party for any suspension, modification, discontinuance, or lack
of availability of the Service or any content.</p>

<p>CraigNotes retains the right to create limits on use and storage in its sole
discretion at any time with or without notice.</p>


<h2>2. Service Content</h2>
<p>The Service and its contents are intended solely for the use by Users and may
only be used in accordance with the terms of this Agreement.  All materials
displayed or performed on this Service (other than material posted by the User)
are the property of CraigNotes and/or third parties and are protected by United
States and international copyright laws.</p>


<h2>3. Restrictions</h2>
<p>You are responsible for all of Your activity in connection with CraigNotes.
Any fraudulent, abusive, or illegal activity or any use of the Service in
violation of this Agreement may be grounds for termination of your rights to
access the Service.  You may not use the Service to violate the security of any
computer network, crack passwords or security encryption codes, transfer or
store illegal material including those that are deemed threatening or obscene,
or engage in any kind of illegal activity.</p>


<h2>4. Warranty Disclaimer</h2>
<p>CraigNotes and its creators are not responsible or liable for any content
posted on the site.  You release CraigNotes and its creators from all liability
for You having acquired or not acquired any material through the Service.  The
Service is provided on an "as is" basis, without warranties of any kind, either
express or implied, without limitation, implied warranties of merchantability,
fitness for a particular purpose, or non-infringement.  CraigNotes and its
creators make no representation or warranties of any kind.  CraigNotes and its
creators disclaims any liability or responsibility for the accuracy,
reliability, availability, completeness, legality, or usability of the material
or services provided by this Service.  By using this Service, you acknowledge
that CraigNotes and its creators are not responsible or liable for any harm
resulting from use of the Service, downloading of information from the Service,
unauthorized disclosure of any material, or the inability to access the Service,
including, without limitation, harm caused by viruses, worms, trojan horses, or
any similar contamination or destructive program.  CraigNotes and its creators
are not responsible for any material retrieved from the site.</p>


<h2>5. Third party websites</h2>
<p>Users may gain access from the Service to third party sites.  You hereby
irrevocably waive any claim against the Service with respect to such sites and
third party content.</p>


<h2>6. Registration</h2>
<p>You must register with the Service in order to use it.  The User agrees to
notify the Service immediately of any actual or suspected loss, theft, or
unauthorized use of Your account.  You are solely responsible for all activity
conducted through Your account and You agree to release the Service from any and
all liability concerning such activity.</p>


<h2>7. Indemnity</h2>
<p>You will indemnify and hold CraigNotes, its employees, and its creators
harmless, including costs and attorneys' fees, from any claim or demand made by
any third party due to or arising out of Your access to the Service, use of the
Service, the violation of this Agreement by You, or the infringement by You, or
any third party using Your account, of any intellectual property or other right
of any person or entity.</p>


<h2>8. Limitation of liability</h2>
<p>In no event shall CraigNotes, its employees, or its creators be liable with
respect to the Service for any damages of any kind whatsoever.</p>


<h2>9. Termination</h2>
<p>CraigNotes may terminate or suspend any all access to the Service
immediately, without prior notice or liability, for any reason.</p>


<h2>10. Privacy</h2>
<p>Please review our <a href="/privacy">Privacy Policy</a> which governs the use
of personal information on the Service and to which the User agrees to be bound
as a user of the Service.</p>
