<%def name="title()">Privacy Policy</%def>
<%inherit file="base.html"/>

<h2>Our Commitment to Privacy</h2>
<p>Your privacy is important to us.  This policy is posted to explain how we
collect and use your information.</p>


<h2>How We Use Your Information</h2>
<p>We <i>NEVER</i> share <i>ANY</i> of this information with <i>ANYONE</i> but
you.  No other users can view this information, and we won't share it with any
third parties.</p>

<p>
We use non-identifying and aggregate information to better design our website
and to share with advertisers. For example, we may tell an advertiser that X
number of individuals visited a certain area of our website.
</p>


<h2>Personal Information We Collect</h2>
<p>When you login to the website, we collect the following:</p>
<ul>
    <li><i>E-mail address</i> - We don't currently use this, but we have a feature planned which will let you subscribe, if you so desire, to certain updates via e-mail.</li>
    <li><i>Username / display name</i> - Used to show you that you are logged in.</li>
    <li><i>OpenID Identifier</i> - This identifies the account you use to login to our site.</li>
</ul>


<h2>Our Commitment to Data Security</h2>
<p>We only allow users to access our service once they have logged in via
<a href="http://openid.net/">OpenID</a>.  This means we do not store or even
have access to any of your passwords - we entrust the security of that important
data to well-known, safe third-party OpenID providers like Google and Facebook.
</p>

<p>
No other user can access information you enter on our site (ad ratings, notes,
etc.).
</p>


<h2>Changes to This Policy</h2>
<p>If this policy is changed, we will post a notice on the login page.  We will also
provide a summary of any changes, and ensure that the old privacy policy remains
available for at least thirty days after the new policy is posted.</p>
