<%!
    from gaesessions import get_current_session

    def mark_selected(default_value, val, sel_val):
        if (not sel_val and default_value==val) or sel_val==val:
            return 'selected="selected"'
        else:
            return ''

%>
<%def name="title()">Track a new Craigslist Search</%def>
<%inherit file="base.html"/>

<form action="${request.path}" method="post" id="form">
	<table class="form">
		<tr>
			<th><label for="name">What do you want to name this search?</label></th>
			<td><input class="text" type="text" name="name" id="name" maxlength="30" value="${request.get('name')|h}"/></td>
			<td class="error">${request.get('error_name')}</td>
		</tr>
		<tr>
			<th style="text-align:left">Describe what you're looking for:</th>
			<td colspan="2">&nbsp;</td>
		</tr>
	</table>

	<div style="padding-left:2em">
	<h1 style="color:#080">Option 1: Enter a URL to a Craigslist search that you want to track</h1>
	<table class="form">
		<tr>
			<th><label for="rss_url">Search or RSS Feed URL</label></th>
			<td><input class="text" type="text" name="rss_url" id="rss_url" value="${request.get('rss_url')|h}"/></td>
			<td class="error">${request.get('error_rss_url')}</td>
		</tr>
		<tr><td colspan="2">
			<input class="button" id="submit" type="submit" value="Track this RSS Feed"/>
		</td></tr>
	</table>
	<p><i>Hint:</i> Do your search on Craigslist, and then copy the URL of their
	search results page into the above box.</p>

	<h1 style="color:#080;margin-top:2.5em">Option 2: Enter your search here</h1>
	<table class="form">
		<tr>
			<th><label for="city">City/Region</label></th>
			<td>
				<select id="city" name="city">
				% if request.get('city'):
				<option value="${request.get('city')}" selected="selected">${request.get('city')}</option>
				% else:
				<option disabled="" value="">please choose one</option>
				% endif
					<option disabled="" value="">MAJOR US CITIES</option>
						<option value="atlanta">Atlanta</option>
						<option value="austin">Austin</option>
						<option value="boston">Boston</option>
						<option value="chicago">Chicago</option>
						<option value="cleveland">Cleveland</option>
						<option value="dallas">Dallas</option>
						<option value="denver">Denver</option>
						<option value="detroit">Detroit</option>
						<option value="honolulu">Honolulu</option>
						<option value="houston">Houston</option>
						<option value="inlandempire">Inland Empire</option>
						<option value="kansascity">Kansas City</option>
						<option value="lasvegas">Las Vegas</option>
						<option value="losangeles">Los Angeles</option>
						<option value="miami">Miami</option>
						<option value="minneapolis">Minneapolis</option>
						<option value="nashville">Nashville</option>
						<option value="newyork">New York</option>
						<option value="orangecounty">Orange County</option>
						<option value="philadelphia">Philadelphia</option>
						<option value="phoenix">Phoenix</option>
						<option value="portland">Portland</option>
						<option value="raleigh">Raleigh</option>
						<option value="sacramento">Sacramento</option>
						<option value="sandiego">San Diego</option>
						<option value="seattle">Seattle</option>
						<option value="sfbay">San Francisco Bay Area</option>
						<option value="stlouis">St. Louis</option>
						<option value="tampa">Tampa Bay</option>
						<option value="washingtondc">Washington, DC</option>

					<option disabled="" value="">--</option>
					<option disabled="" value="">MORE US CITIES</option>
						<option disabled="" value="Alaska">Alaska</option>
							<option value="anchorage">Anchorage / Mat-Su</option>
							<option value="fairbanks">Fairbanks</option>
							<option value="kenai">Kenai Peninsula</option>
							<option value="juneau">Southeast Alaska</option>
						<option disabled="" value="Arizona">Arizona</option>
							<option value="flagstaff">Flagstaff / Sedona</option>
							<option value="mohave">Mohave County</option>
							<option value="phoenix">Phoenix</option>
							<option value="prescott">Prescott</option>
							<option value="showlow">Show Low</option>
							<option value="sierravista">Sierra Vista</option>
							<option value="tucson">Tucson</option>
							<option value="yuma">Yuma</option>
						<option disabled="" value="Arkansas">Arkansas</option>
							<option value="fayar">Fayetteville </option>
							<option value="fortsmith">Fort Smith</option>
							<option value="jonesboro">Jonesboro</option>
							<option value="littlerock">Little Rock</option>
							<option value="texarkana">Texarkana</option>
						<option disabled="" value="California">California</option>
							<option value="bakersfield">Bakersfield</option>
							<option value="chico">Chico</option>
							<option value="fresno">Fresno / Madera</option>
							<option value="goldcountry">Gold Country</option>
							<option value="hanford">Hanford-Corcoran</option>
							<option value="humboldt">Humboldt County</option>
							<option value="imperial">Imperial County</option>
							<option value="inlandempire">Inland Empire</option>
							<option value="losangeles">Los Angeles</option>
							<option value="mendocino">Mendocino County</option>
							<option value="merced">Merced</option>
							<option value="modesto">Modesto</option>
							<option value="monterey">Monterey Bay</option>
							<option value="orangecounty">Orange County</option>
							<option value="palmsprings">Palm Springs</option>
							<option value="redding">Redding</option>
							<option value="sacramento">Sacramento</option>
							<option value="sandiego">San Diego</option>
							<option value="sfbay">San Francisco Bay Area</option>
							<option value="slo">San Luis Obispo</option>
							<option value="santabarbara">Santa Barbara</option>
							<option value="santamaria">Santa Maria</option>
							<option value="siskiyou">Siskiyou County</option>
							<option value="stockton">Stockton</option>
							<option value="susanville">Susanville</option>
							<option value="ventura">Ventura County</option>
							<option value="visalia">Visalia-Tulare</option>
							<option value="yubasutter">Yuba-Sutter</option>
						<option disabled="" value="Colorado">Colorado</option>
							<option value="boulder">Boulder</option>
							<option value="cosprings">Colorado Springs</option>
							<option value="denver">Denver</option>
							<option value="eastco">Eastern Co</option>
							<option value="fortcollins">Fort Collins / North Co</option>
							<option value="rockies">High Rockies</option>
							<option value="pueblo">Pueblo</option>
							<option value="westslope">Western Slope</option>
						<option disabled="" value="Connecticut">Connecticut</option>
							<option value="newlondon">Eastern Ct</option>
							<option value="hartford">Hartford</option>
							<option value="newhaven">New Haven</option>
							<option value="nwct">Northwest Ct</option>
						<option disabled="" value="Delaware">Delaware</option>
							<option value="delaware">Delaware</option>
						<option disabled="" value="District of Columbia">District Of Columbia</option>
							<option value="washingtondc">Washington</option>
						<option disabled="" value="Florida">Florida</option>
							<option value="daytona">Daytona Beach</option>
							<option value="keys">Florida Keys</option>
							<option value="fortlauderdale">Fort Lauderdale</option>
							<option value="fortmyers">Ft Myers / Sw Florida</option>
							<option value="gainesville">Gainesville</option>
							<option value="cfl">Heartland Florida</option>
							<option value="jacksonville">Jacksonville</option>
							<option value="lakeland">Lakeland</option>
							<option value="lakecity">North Central Fl</option>
							<option value="ocala">Ocala</option>
							<option value="okaloosa">Okaloosa / Walton</option>
							<option value="orlando">Orlando</option>
							<option value="panamacity">Panama City</option>
							<option value="pensacola">Pensacola</option>
							<option value="sarasota">Sarasota-Bradenton</option>
							<option value="miami">South Florida</option>
							<option value="spacecoast">Space Coast</option>
							<option value="staugustine">St Augustine</option>
							<option value="tallahassee">Tallahassee</option>
							<option value="tampa">Tampa Bay Area</option>
							<option value="treasure">Treasure Coast</option>
							<option value="westpalmbeach">West Palm Beach</option>
						<option disabled="" value="Georgia">Georgia</option>
							<option value="albanyga">Albany </option>
							<option value="athensga">Athens</option>
							<option value="atlanta">Atlanta</option>
							<option value="augusta">Augusta</option>
							<option value="brunswick">Brunswick</option>
							<option value="columbusga">Columbus </option>
							<option value="macon">Macon / Warner Robins</option>
							<option value="nwga">Northwest Ga</option>
							<option value="savannah">Savannah / Hinesville</option>
							<option value="statesboro">Statesboro</option>
							<option value="valdosta">Valdosta</option>
						<option disabled="" value="Hawaii">Hawaii</option>
							<option value="honolulu">Hawaii</option>
						<option disabled="" value="Idaho">Idaho</option>
							<option value="boise">Boise</option>
							<option value="eastidaho">East Idaho</option>
							<option value="lewiston">Lewiston / Clarkston</option>
							<option value="twinfalls">Twin Falls</option>
						<option disabled="" value="Illinois">Illinois</option>
							<option value="bn">Bloomington-Normal</option>
							<option value="chambana">Champaign Urbana</option>
							<option value="chicago">Chicago</option>
							<option value="decatur">Decatur</option>
							<option value="lasalle">La Salle Co</option>
							<option value="mattoon">Mattoon-Charleston</option>
							<option value="peoria">Peoria</option>
							<option value="rockford">Rockford</option>
							<option value="carbondale">Southern Illinois</option>
							<option value="springfieldil">Springfield </option>
							<option value="quincy">Western Il</option>
						<option disabled="" value="Indiana">Indiana</option>
							<option value="bloomington">Bloomington</option>
							<option value="evansville">Evansville</option>
							<option value="fortwayne">Fort Wayne</option>
							<option value="indianapolis">Indianapolis</option>
							<option value="kokomo">Kokomo</option>
							<option value="tippecanoe">Lafayette / West Lafayette</option>
							<option value="muncie">Muncie / Anderson</option>
							<option value="richmondin">Richmond </option>
							<option value="southbend">South Bend / Michiana</option>
							<option value="terrahaute">Terre Haute</option>
						<option disabled="" value="Iowa">Iowa</option>
							<option value="ames">Ames</option>
							<option value="cedarrapids">Cedar Rapids</option>
							<option value="desmoines">Des Moines</option>
							<option value="dubuque">Dubuque</option>
							<option value="fortdodge">Fort Dodge</option>
							<option value="iowacity">Iowa City</option>
							<option value="masoncity">Mason City</option>
							<option value="quadcities">Quad Cities</option>
							<option value="siouxcity">Sioux City</option>
							<option value="ottumwa">Southeast Ia</option>
							<option value="waterloo">Waterloo / Cedar Falls</option>
						<option disabled="" value="Kansas">Kansas</option>
							<option value="lawrence">Lawrence</option>
							<option value="ksu">Manhattan</option>
							<option value="nwks">Northwest Ks</option>
							<option value="salina">Salina</option>
							<option value="seks">Southeast Ks</option>
							<option value="swks">Southwest Ks</option>
							<option value="topeka">Topeka</option>
							<option value="wichita">Wichita</option>
						<option disabled="" value="Kentucky">Kentucky</option>
							<option value="bgky">Bowling Green</option>
							<option value="eastky">Eastern Kentucky</option>
							<option value="lexington">Lexington</option>
							<option value="louisville">Louisville</option>
							<option value="owensboro">Owensboro</option>
							<option value="westky">Western Ky</option>
						<option disabled="" value="Louisiana">Louisiana</option>
							<option value="batonrouge">Baton Rouge</option>
							<option value="cenla">Central Louisiana</option>
							<option value="houma">Houma</option>
							<option value="lafayette">Lafayette</option>
							<option value="lakecharles">Lake Charles</option>
							<option value="monroe">Monroe</option>
							<option value="neworleans">New Orleans</option>
							<option value="shreveport">Shreveport</option>
						<option disabled="" value="Maine">Maine</option>
							<option value="maine">Maine</option>
						<option disabled="" value="Maryland">Maryland</option>
							<option value="annapolis">Annapolis</option>
							<option value="baltimore">Baltimore</option>
							<option value="easternshore">Eastern Shore</option>
							<option value="frederick">Frederick</option>
							<option value="smd">Southern Maryland</option>
							<option value="westmd">Western Maryland</option>
						<option disabled="" value="Massachusetts">Massachusetts</option>
							<option value="boston">Boston</option>
							<option value="capecod">Cape Cod / Islands</option>
							<option value="southcoast">South Coast</option>
							<option value="westernmass">Western Massachusetts</option>
							<option value="worcester">Worcester / Central Ma</option>
						<option disabled="" value="Michigan">Michigan</option>
							<option value="annarbor">Ann Arbor</option>
							<option value="battlecreek">Battle Creek</option>
							<option value="centralmich">Central Michigan</option>
							<option value="detroit">Detroit Metro</option>
							<option value="flint">Flint</option>
							<option value="grandrapids">Grand Rapids</option>
							<option value="holland">Holland</option>
							<option value="jxn">Jackson </option>
							<option value="kalamazoo">Kalamazoo</option>
							<option value="lansing">Lansing</option>
							<option value="monroemi">Monroe </option>
							<option value="muskegon">Muskegon</option>
							<option value="nmi">Northern Michigan</option>
							<option value="porthuron">Port Huron</option>
							<option value="saginaw">Saginaw-Midland-Baycity</option>
							<option value="swmi">Southwest Michigan</option>
							<option value="thumb">The Thumb</option>
							<option value="up">Upper Peninsula</option>
						<option disabled="" value="Minnesota">Minnesota</option>
							<option value="bemidji">Bemidji</option>
							<option value="brainerd">Brainerd</option>
							<option value="duluth">Duluth / Superior</option>
							<option value="mankato">Mankato</option>
							<option value="minneapolis">Minneapolis / St Paul</option>
							<option value="rmn">Rochester </option>
							<option value="marshall">Southwest Mn</option>
							<option value="stcloud">St Cloud</option>
						<option disabled="" value="Mississippi">Mississippi</option>
							<option value="gulfport">Gulfport / Biloxi</option>
							<option value="hattiesburg">Hattiesburg</option>
							<option value="jackson">Jackson</option>
							<option value="meridian">Meridian</option>
							<option value="northmiss">North Mississippi</option>
							<option value="natchez">Southwest Ms</option>
						<option disabled="" value="Missouri">Missouri</option>
							<option value="columbiamo">Columbia / Jeff City</option>
							<option value="joplin">Joplin</option>
							<option value="kansascity">Kansas City</option>
							<option value="kirksville">Kirksville</option>
							<option value="loz">Lake Of The Ozarks</option>
							<option value="semo">Southeast Missouri</option>
							<option value="springfield">Springfield</option>
							<option value="stjoseph">St Joseph</option>
							<option value="stlouis">St Louis</option>
						<option disabled="" value="Montana">Montana</option>
							<option value="billings">Billings</option>
							<option value="bozeman">Bozeman</option>
							<option value="butte">Butte</option>
							<option value="greatfalls">Great Falls</option>
							<option value="helena">Helena</option>
							<option value="kalispell">Kalispell</option>
							<option value="missoula">Missoula</option>
							<option value="montana">Montana (Old)</option>
						<option disabled="" value="Nebraska">Nebraska</option>
							<option value="grandisland">Grand Island</option>
							<option value="lincoln">Lincoln</option>
							<option value="northplatte">North Platte</option>
							<option value="omaha">Omaha / Council Bluffs</option>
							<option value="scottsbluff">Scottsbluff / Panhandle</option>
						<option disabled="" value="Nevada">Nevada</option>
							<option value="elko">Elko</option>
							<option value="lasvegas">Las Vegas</option>
							<option value="reno">Reno / Tahoe</option>
						<option disabled="" value="New Hampshire">New Hampshire</option>
							<option value="nh">New Hampshire</option>
						<option disabled="" value="New Jersey">New Jersey</option>
							<option value="cnj">Central Nj</option>
							<option value="jerseyshore">Jersey Shore</option>
							<option value="newjersey">North Jersey</option>
							<option value="southjersey">South Jersey</option>
						<option disabled="" value="New Mexico">New Mexico</option>
							<option value="albuquerque">Albuquerque</option>
							<option value="clovis">Clovis / Portales</option>
							<option value="farmington">Farmington</option>
							<option value="lascruces">Las Cruces</option>
							<option value="roswell">Roswell / Carlsbad</option>
							<option value="santafe">Santa Fe / Taos</option>
						<option disabled="" value="New York">New York</option>
							<option value="albany">Albany</option>
							<option value="binghamton">Binghamton</option>
							<option value="buffalo">Buffalo</option>
							<option value="catskills">Catskills</option>
							<option value="chautauqua">Chautauqua</option>
							<option value="elmira">Elmira-Corning</option>
							<option value="fingerlakes">Finger Lakes</option>
							<option value="glensfalls">Glens Falls</option>
							<option value="hudsonvalley">Hudson Valley</option>
							<option value="ithaca">Ithaca</option>
							<option value="longisland">Long Island</option>
							<option value="newyork">New York City</option>
							<option value="oneonta">Oneonta</option>
							<option value="plattsburgh">Plattsburgh-Adirondacks</option>
							<option value="potsdam">Potsdam-Canton-Massena</option>
							<option value="rochester">Rochester</option>
							<option value="syracuse">Syracuse</option>
							<option value="twintiers">Twin Tiers Ny/Pa</option>
							<option value="utica">Utica-Rome-Oneida</option>
							<option value="watertown">Watertown</option>
						<option disabled="" value="North Carolina">North Carolina</option>
							<option value="asheville">Asheville</option>
							<option value="boone">Boone</option>
							<option value="charlotte">Charlotte</option>
							<option value="eastnc">Eastern Nc</option>
							<option value="fayetteville">Fayetteville</option>
							<option value="greensboro">Greensboro</option>
							<option value="hickory">Hickory / Lenoir</option>
							<option value="onslow">Jacksonville </option>
							<option value="outerbanks">Outer Banks</option>
							<option value="raleigh">Raleigh / Durham / Ch</option>
							<option value="wilmington">Wilmington</option>
							<option value="winstonsalem">Winston-Salem</option>
						<option disabled="" value="North Dakota">North Dakota</option>
							<option value="bismarck">Bismarck</option>
							<option value="fargo">Fargo / Moorhead</option>
							<option value="grandforks">Grand Forks</option>
							<option value="nd">North Dakota</option>
						<option disabled="" value="Ohio">Ohio</option>
							<option value="akroncanton">Akron / Canton</option>
							<option value="ashtabula">Ashtabula</option>
							<option value="athensohio">Athens </option>
							<option value="chillicothe">Chillicothe</option>
							<option value="cincinnati">Cincinnati</option>
							<option value="cleveland">Cleveland</option>
							<option value="columbus">Columbus</option>
							<option value="dayton">Dayton / Springfield</option>
							<option value="limaohio">Lima / Findlay</option>
							<option value="mansfield">Mansfield</option>
							<option value="sandusky">Sandusky</option>
							<option value="toledo">Toledo</option>
							<option value="tuscarawas">Tuscarawas Co</option>
							<option value="youngstown">Youngstown</option>
							<option value="zanesville">Zanesville / Cambridge</option>
						<option disabled="" value="Oklahoma">Oklahoma</option>
							<option value="lawton">Lawton</option>
							<option value="enid">Northwest Ok</option>
							<option value="oklahomacity">Oklahoma City</option>
							<option value="stillwater">Stillwater</option>
							<option value="tulsa">Tulsa</option>
						<option disabled="" value="Oregon">Oregon</option>
							<option value="bend">Bend</option>
							<option value="corvallis">Corvallis/Albany</option>
							<option value="eastoregon">East Oregon</option>
							<option value="eugene">Eugene</option>
							<option value="klamath">Klamath Falls</option>
							<option value="medford">Medford-Ashland</option>
							<option value="oregoncoast">Oregon Coast</option>
							<option value="portland">Portland</option>
							<option value="roseburg">Roseburg</option>
							<option value="salem">Salem</option>
						<option disabled="" value="Pennsylvania">Pennsylvania</option>
							<option value="altoona">Altoona-Johnstown</option>
							<option value="chambersburg">Cumberland Valley</option>
							<option value="erie">Erie</option>
							<option value="harrisburg">Harrisburg</option>
							<option value="lancaster">Lancaster</option>
							<option value="allentown">Lehigh Valley</option>
							<option value="meadville">Meadville</option>
							<option value="philadelphia">Philadelphia</option>
							<option value="pittsburgh">Pittsburgh</option>
							<option value="poconos">Poconos</option>
							<option value="reading">Reading</option>
							<option value="scranton">Scranton / Wilkes-Barre</option>
							<option value="pennstate">State College</option>
							<option value="williamsport">Williamsport</option>
							<option value="york">York</option>
						<option disabled="" value="Rhode Island">Rhode Island</option>
							<option value="providence">Rhode Island</option>
						<option disabled="" value="South Carolina">South Carolina</option>
							<option value="charleston">Charleston</option>
							<option value="columbia">Columbia</option>
							<option value="florencesc">Florence</option>
							<option value="greenville">Greenville / Upstate</option>
							<option value="hiltonhead">Hilton Head</option>
							<option value="myrtlebeach">Myrtle Beach</option>
						<option disabled="" value="South Dakota">South Dakota</option>
							<option value="nesd">Northeast Sd</option>
							<option value="csd">Pierre / Central Sd</option>
							<option value="rapidcity">Rapid City / West Sd</option>
							<option value="siouxfalls">Sioux Falls / Se Sd</option>
							<option value="sd">South Dakota</option>
						<option disabled="" value="Tennessee">Tennessee</option>
							<option value="chattanooga">Chattanooga</option>
							<option value="clarksville">Clarksville</option>
							<option value="cookeville">Cookeville</option>
							<option value="jacksontn">Jackson  </option>
							<option value="knoxville">Knoxville</option>
							<option value="memphis">Memphis</option>
							<option value="nashville">Nashville</option>
							<option value="tricities">Tri-Cities</option>
						<option disabled="" value="Texas">Texas</option>
							<option value="abilene">Abilene</option>
							<option value="amarillo">Amarillo</option>
							<option value="austin">Austin</option>
							<option value="beaumont">Beaumont / Port Arthur</option>
							<option value="brownsville">Brownsville</option>
							<option value="collegestation">College Station</option>
							<option value="corpuschristi">Corpus Christi</option>
							<option value="dallas">Dallas / Fort Worth</option>
							<option value="nacogdoches">Deep East Texas</option>
							<option value="delrio">Del Rio / Eagle Pass</option>
							<option value="elpaso">El Paso</option>
							<option value="galveston">Galveston</option>
							<option value="houston">Houston</option>
							<option value="killeen">Killeen / Temple / Ft Hood</option>
							<option value="laredo">Laredo</option>
							<option value="lubbock">Lubbock</option>
							<option value="mcallen">Mcallen / Edinburg</option>
							<option value="odessa">Odessa / Midland</option>
							<option value="sanangelo">San Angelo</option>
							<option value="sanantonio">San Antonio</option>
							<option value="sanmarcos">San Marcos</option>
							<option value="bigbend">Southwest Tx</option>
							<option value="texoma">Texoma</option>
							<option value="easttexas">Tyler / East Tx</option>
							<option value="victoriatx">Victoria </option>
							<option value="waco">Waco</option>
							<option value="wichitafalls">Wichita Falls</option>
						<option disabled="" value="Utah">Utah</option>
							<option value="logan">Logan</option>
							<option value="ogden">Ogden-Clearfield</option>
							<option value="provo">Provo / Orem</option>
							<option value="saltlakecity">Salt Lake City</option>
							<option value="stgeorge">St George</option>
						<option disabled="" value="Vermont">Vermont</option>
							<option value="burlington">Vermont</option>
						<option disabled="" value="Virginia">Virginia</option>
							<option value="charlottesville">Charlottesville</option>
							<option value="danville">Danville</option>
							<option value="fredericksburg">Fredericksburg</option>
							<option value="norfolk">Hampton Roads</option>
							<option value="harrisonburg">Harrisonburg</option>
							<option value="lynchburg">Lynchburg</option>
							<option value="blacksburg">New River Valley</option>
							<option value="richmond">Richmond</option>
							<option value="roanoke">Roanoke</option>
							<option value="swva">Southwest Va</option>
							<option value="winchester">Winchester</option>
						<option disabled="" value="Washington">Washington</option>
							<option value="bellingham">Bellingham</option>
							<option value="kpr">Kennewick-Pasco-Richland</option>
							<option value="moseslake">Moses Lake</option>
							<option value="olympic">Olympic Peninsula</option>
							<option value="pullman">Pullman / Moscow</option>
							<option value="seattle">Seattle-Tacoma</option>
							<option value="skagit">Skagit / Island / Sji</option>
							<option value="spokane">Spokane / Coeur D'Alene</option>
							<option value="wenatchee">Wenatchee</option>
							<option value="yakima">Yakima</option>
						<option disabled="" value="West Virginia">West Virginia</option>
							<option value="charlestonwv">Charleston </option>
							<option value="martinsburg">Eastern Panhandle</option>
							<option value="huntington">Huntington-Ashland</option>
							<option value="morgantown">Morgantown</option>
							<option value="wheeling">Northern Panhandle</option>
							<option value="parkersburg">Parkersburg-Marietta</option>
							<option value="swv">Southern Wv</option>
							<option value="wv">West Virginia (Old)</option>
						<option disabled="" value="Wisconsin">Wisconsin</option>
							<option value="appleton">Appleton-Oshkosh-Fdl</option>
							<option value="eauclaire">Eau Claire</option>
							<option value="greenbay">Green Bay</option>
							<option value="janesville">Janesville</option>
							<option value="racine">Kenosha-Racine</option>
							<option value="lacrosse">La Crosse</option>
							<option value="madison">Madison</option>
							<option value="milwaukee">Milwaukee</option>
							<option value="northernwi">Northern Wi</option>
							<option value="sheboygan">Sheboygan</option>
							<option value="wausau">Wausau</option>
						<option disabled="" value="Wyoming">Wyoming</option>
							<option value="wyoming">Wyoming</option>
						<option disabled="" value="Territories">Territories</option>
							<option value="micronesia">Guam-Micronesia</option>
							<option value="puertorico">Puerto Rico</option>
							<option value="virgin">U.S. Virgin Islands</option>


					<option disabled="" value="">--</option>
					<option disabled="" value="">CANADA</option>
						<option disabled="" value="Alberta">Alberta</option>
							<option value="calgary">Calgary</option>
							<option value="edmonton">Edmonton</option>
							<option value="ftmcmurray">Ft Mcmurray</option>
							<option value="lethbridge">Lethbridge</option>
							<option value="hat">Medicine Hat</option>
							<option value="peace">Peace River Country</option>
							<option value="reddeer">Red Deer</option>
						<option disabled="" value="British Columbia">British Columbia</option>
							<option value="cariboo">Cariboo</option>
							<option value="comoxvalley">Comox Valley</option>
							<option value="abbotsford">Fraser Valley</option>
							<option value="kamloops">Kamloops</option>
							<option value="kelowna">Kelowna / Okanagan</option>
							<option value="cranbrook">Kootenays</option>
							<option value="nanaimo">Nanaimo</option>
							<option value="princegeorge">Prince George</option>
							<option value="skeena">Skeena-Bulkley</option>
							<option value="sunshine">Sunshine Coast</option>
							<option value="vancouver">Vancouver</option>
							<option value="victoria">Victoria</option>
							<option value="whistler">Whistler</option>
						<option disabled="" value="Manitoba">Manitoba</option>
							<option value="winnipeg">Winnipeg</option>
						<option disabled="" value="New Brunswick">New Brunswick</option>
							<option value="newbrunswick">New Brunswick</option>
						<option disabled="" value="Newfoundland and Labrador">Newfoundland And Labrador</option>
							<option value="newfoundland">St John'S</option>
						<option disabled="" value="Northwest Territories">Northwest Territories</option>
							<option value="territories">Territories</option>
							<option value="yellowknife">Yellowknife</option>
						<option disabled="" value="Nova Scotia">Nova Scotia</option>
							<option value="halifax">Halifax</option>
						<option disabled="" value="Ontario">Ontario</option>
							<option value="barrie">Barrie</option>
							<option value="belleville">Belleville</option>
							<option value="brantford">Brantford-Woodstock</option>
							<option value="chatham">Chatham-Kent</option>
							<option value="cornwall">Cornwall</option>
							<option value="guelph">Guelph</option>
							<option value="hamilton">Hamilton-Burlington</option>
							<option value="kingston">Kingston</option>
							<option value="kitchener">Kitchener-Waterloo-Cambridge</option>
							<option value="londonon">London </option>
							<option value="niagara">Niagara Region</option>
							<option value="ottawa">Ottawa-Hull-Gatineau</option>
							<option value="owensound">Owen Sound</option>
							<option value="peterborough">Peterborough</option>
							<option value="sarnia">Sarnia</option>
							<option value="soo">Sault Ste Marie</option>
							<option value="sudbury">Sudbury</option>
							<option value="thunderbay">Thunder Bay</option>
							<option value="toronto">Toronto</option>
							<option value="windsor">Windsor</option>
						<option disabled="" value="Prince Edward Island">Prince Edward Island</option>
							<option value="pei">Prince Edward Island</option>
						<option disabled="" value="Quebec">Quebec</option>
							<option value="montreal">Montreal</option>
							<option value="quebec">Quebec City</option>
							<option value="saguenay">Saguenay</option>
							<option value="sherbrooke">Sherbrooke</option>
							<option value="troisrivieres">Trois-Rivieres</option>
						<option disabled="" value="Saskatchewan">Saskatchewan</option>
							<option value="regina">Regina</option>
							<option value="saskatoon">Saskatoon</option>


					<option disabled="" value="">--</option>
					<option disabled="" value="">ASIA</option>
						<option disabled="" value="Bangladesh">Bangladesh</option>
							<option value="bangladesh">Bangladesh</option>
						<option disabled="" value="China">China</option>
							<option value="beijing">Beijing</option>
							<option value="chengdu">Chengdu</option>
							<option value="chongqing">Chongqing</option>
							<option value="dalian">Dalian</option>
							<option value="guangzhou">Guangzhou</option>
							<option value="hangzhou">Hangzhou</option>
							<option value="nanjing">Nanjing</option>
							<option value="shanghai">Shanghai</option>
							<option value="shenyang">Shenyang</option>
							<option value="shenzhen">Shenzhen</option>
							<option value="wuhan">Wuhan</option>
							<option value="xian">Xi'An</option>
						<option disabled="" value="Hong Kong">Hong Kong</option>
							<option value="hongkong">Hong Kong</option>
						<option disabled="" value="India">India</option>
							<option value="ahmedabad">Ahmedabad</option>
							<option value="bangalore">Bangalore</option>
							<option value="bhubaneswar">Bhubaneswar</option>
							<option value="chandigarh">Chandigarh</option>
							<option value="chennai">Chennai (Madras)</option>
							<option value="delhi">Delhi</option>
							<option value="goa">Goa</option>
							<option value="hyderabad">Hyderabad</option>
							<option value="indore">Indore</option>
							<option value="jaipur">Jaipur</option>
							<option value="kerala">Kerala</option>
							<option value="kolkata">Kolkata (Calcutta)</option>
							<option value="lucknow">Lucknow</option>
							<option value="mumbai">Mumbai</option>
							<option value="pune">Pune</option>
							<option value="surat">Surat Surat</option>
						<option disabled="" value="Indonesia">Indonesia</option>
							<option value="jakarta">Indonesia</option>
						<option disabled="" value="Iran">Iran</option>
							<option value="tehran">Iran</option>
						<option disabled="" value="Iraq">Iraq</option>
							<option value="baghdad">Iraq</option>
						<option disabled="" value="Israel and Palestine">Israel And Palestine</option>
							<option value="haifa">Haifa</option>
							<option value="jerusalem">Jerusalem</option>
							<option value="telaviv">Tel Aviv</option>
							<option value="ramallah">West Bank</option>
						<option disabled="" value="Japan">Japan</option>
							<option value="fukuoka">Fukuoka</option>
							<option value="hiroshima">Hiroshima</option>
							<option value="nagoya">Nagoya</option>
							<option value="okinawa">Okinawa</option>
							<option value="osaka">Osaka-Kobe-Kyoto</option>
							<option value="sapporo">Sapporo</option>
							<option value="sendai">Sendai</option>
							<option value="tokyo">Tokyo</option>
						<option disabled="" value="Korea">Korea</option>
							<option value="seoul">Seoul</option>
						<option disabled="" value="Kuwait">Kuwait</option>
							<option value="kuwait">Kuwait</option>
						<option disabled="" value="Lebanon">Lebanon</option>
							<option value="beirut">Beirut, Lebanon</option>
						<option disabled="" value="Malaysia">Malaysia</option>
							<option value="malaysia">Malaysia</option>
						<option disabled="" value="Pakistan">Pakistan</option>
							<option value="pakistan">Pakistan</option>
						<option disabled="" value="Philippines">Philippines</option>
							<option value="bacolod">Bacolod</option>
							<option value="naga">Bicol Region</option>
							<option value="cdo">Cagayan De Oro</option>
							<option value="cebu">Cebu</option>
							<option value="davaocity">Davao City</option>
							<option value="iloilo">Iloilo</option>
							<option value="manila">Manila</option>
							<option value="pampanga">Pampanga</option>
							<option value="zamboanga">Zamboanga</option>
						<option disabled="" value="Singapore">Singapore</option>
							<option value="singapore">Singapore</option>
						<option disabled="" value="Taiwan">Taiwan</option>
							<option value="taipei">Taiwan</option>
						<option disabled="" value="Thailand">Thailand</option>
							<option value="bangkok">Thailand</option>
						<option disabled="" value="United Arab Emirates">United Arab Emirates</option>
							<option value="dubai">United Arab Emirates</option>


					<option disabled="" value="">--</option>
					<option disabled="" value="">EUROPE</option>
						<option disabled="" value="Austria">Austria</option>
							<option value="vienna">Vienna</option>
						<option disabled="" value="Belgium">Belgium</option>
							<option value="brussels">Belgium</option>
						<option disabled="" value="Bulgaria">Bulgaria</option>
							<option value="bulgaria">Bulgaria</option>
						<option disabled="" value="Croatia">Croatia</option>
							<option value="zagreb">Croatia</option>
						<option disabled="" value="Czech Republic">Czech Republic</option>
							<option value="prague">Prague</option>
						<option disabled="" value="Denmark">Denmark</option>
							<option value="copenhagen">Copenhagen</option>
						<option disabled="" value="Finland">Finland</option>
							<option value="helsinki">Finland</option>
						<option disabled="" value="France">France</option>
							<option value="bordeaux">Bordeaux</option>
							<option value="rennes">Brittany</option>
							<option value="grenoble">Grenoble</option>
							<option value="lille">Lille</option>
							<option value="loire">Loire Valley</option>
							<option value="lyon">Lyon</option>
							<option value="marseilles">Marseille</option>
							<option value="montpellier">Montpellier</option>
							<option value="cotedazur">Nice / Cote D'Azur</option>
							<option value="rouen">Normandy</option>
							<option value="paris">Paris</option>
							<option value="strasbourg">Strasbourg</option>
							<option value="toulouse">Toulouse</option>
						<option disabled="" value="Germany">Germany</option>
							<option value="berlin">Berlin</option>
							<option value="bremen">Bremen</option>
							<option value="cologne">Cologne</option>
							<option value="dresden">Dresden</option>
							<option value="dusseldorf">Dusseldorf</option>
							<option value="essen">Essen / Ruhr</option>
							<option value="frankfurt">Frankfurt</option>
							<option value="hamburg">Hamburg</option>
							<option value="hannover">Hannover</option>
							<option value="heidelberg">Heidelberg</option>
							<option value="kaiserslautern">Kaiserslautern</option>
							<option value="leipzig">Leipzig</option>
							<option value="munich">Munich</option>
							<option value="nuremberg">Nuremberg</option>
							<option value="stuttgart">Stuttgart</option>
						<option disabled="" value="Greece">Greece</option>
							<option value="athens">Greece</option>
						<option disabled="" value="Hungary">Hungary</option>
							<option value="budapest">Budapest</option>
						<option disabled="" value="Iceland">Iceland</option>
							<option value="reykjavik">Reykjavik</option>
						<option disabled="" value="Ireland">Ireland</option>
							<option value="dublin">Dublin</option>
						<option disabled="" value="Italy">Italy</option>
							<option value="bologna">Bologna</option>
							<option value="florence">Florence / Tuscany</option>
							<option value="genoa">Genoa</option>
							<option value="milan">Milan</option>
							<option value="naples">Napoli / Campania</option>
							<option value="perugia">Perugia</option>
							<option value="rome">Rome</option>
							<option value="sardinia">Sardinia</option>
							<option value="sicily">Sicilia</option>
							<option value="torino">Torino</option>
							<option value="venice">Venice / Veneto</option>
						<option disabled="" value="Luxembourg">Luxembourg</option>
							<option value="luxembourg">Luxembourg</option>
						<option disabled="" value="Netherlands">Netherlands</option>
							<option value="amsterdam">Amsterdam / Randstad</option>
						<option disabled="" value="Norway">Norwayhttp://www.craigslist.org/about/sites</option>
							<option value="oslo">Norway</option>
						<option disabled="" value="Poland">Poland</option>
							<option value="warsaw">Poland</option>
						<option disabled="" value="Portugal">Portugal</option>
							<option value="faro">Faro / Algarve</option>
							<option value="lisbon">Lisbon</option>
							<option value="porto">Porto</option>
						<option disabled="" value="Romania">Romania</option>
							<option value="bucharest">Romania</option>
						<option disabled="" value="Russian Federation">Russian Federation</option>
							<option value="moscow">Moscow</option>
							<option value="stpetersburg">St Petersburg</option>
						<option disabled="" value="Spain">Spain</option>
							<option value="alicante">Alicante</option>
							<option value="baleares">Baleares</option>
							<option value="barcelona">Barcelona</option>
							<option value="bilbao">Bilbao</option>
							<option value="cadiz">Cadiz</option>
							<option value="canarias">Canarias</option>
							<option value="granada">Granada</option>
							<option value="madrid">Madrid</option>
							<option value="malaga">Malaga</option>
							<option value="sevilla">Sevilla</option>
							<option value="valencia">Valencia</option>
						<option disabled="" value="Sweden">Sweden</option>
							<option value="stockholm">Sweden</option>
						<option disabled="" value="Switzerland">Switzerland</option>
							<option value="basel">Basel</option>
							<option value="bern">Bern</option>
							<option value="geneva">Geneva</option>
							<option value="lausanne">Lausanne</option>
							<option value="zurich">Zurich</option>
						<option disabled="" value="Turkey">Turkey</option>
							<option value="istanbul">Turkey</option>
						<option disabled="" value="Ukraine">Ukraine</option>
							<option value="ukraine">Ukraine</option>


					<option disabled="" value="">--</option>
					<option disabled="" value="">INTERNATIONAL CITIES</option>
						<option disabled="" value="Argentina">Argentina</option>
							<option value="buenosaires">Buenos Aires</option>
						<option disabled="" value="Australia">Australia</option>
							<option value="adelaide">Adelaide</option>
							<option value="brisbane">Brisbane</option>
							<option value="cairns">Cairns</option>
							<option value="canberra">Canberra</option>
							<option value="darwin">Darwin</option>
							<option value="goldcoast">Gold Coast</option>
							<option value="melbourne">Melbourne</option>
							<option value="ntl">Newcastle, Nsw</option>
							<option value="perth">Perth</option>
							<option value="sydney">Sydney</option>
							<option value="hobart">Tasmania</option>
							<option value="wollongong">Wollongong</option>
						<option disabled="" value="Bolivia">Bolivia</option>
							<option value="lapaz">Bolivia</option>
						<option disabled="" value="Brazil">Brazil</option>
							<option value="belohorizonte">Belo Horizonte</option>
							<option value="brasilia">Brasilia</option>
							<option value="curitiba">Curitiba</option>
							<option value="fortaleza">Fortaleza</option>
							<option value="portoalegre">Porto Alegre</option>
							<option value="recife">Recife</option>
							<option value="rio">Rio De Janeiro</option>
							<option value="salvador">Salvador, Bahia</option>
							<option value="saopaulo">Sao Paulo</option>
						<option disabled="" value="Chile">Chile</option>
							<option value="santiago">Chile</option>
						<option disabled="" value="Colombia">Colombia</option>
							<option value="colombia">Colombia</option>
						<option disabled="" value="Costa Rica">Costa Rica</option>
							<option value="costarica">Costa Rica</option>
						<option disabled="" value="Dominican Republic">Dominican Republic</option>
							<option value="santodomingo">Dominican Republic</option>
						<option disabled="" value="Ecuador">Ecuador</option>
							<option value="quito">Ecuador</option>
						<option disabled="" value="El Salvador">El Salvador</option>
							<option value="elsalvador">El Salvador</option>
						<option disabled="" value="Ethiopia">Ethiopia</option>
							<option value="addisababa">Ethiopia</option>
						<option disabled="" value="Ghana">Ghana</option>
							<option value="accra">Ghana</option>
						<option disabled="" value="Guatemala">Guatemala</option>
							<option value="guatemala">Guatemala</option>
						<option disabled="" value="Kenya">Kenya</option>
							<option value="kenya">Kenya</option>
						<option disabled="" value="Mexico">Mexico</option>
							<option value="acapulco">Acapulco</option>
							<option value="bajasur">Baja California Sur</option>
							<option value="chihuahua">Chihuahua</option>
							<option value="juarez">Ciudad Juarez</option>
							<option value="guadalajara">Guadalajara</option>
							<option value="guanajuato">Guanajuato</option>
							<option value="hermosillo">Hermosillo</option>
							<option value="mazatlan">Mazatlan</option>
							<option value="mexicocity">Mexico City</option>
							<option value="monterrey">Monterrey</option>
							<option value="oaxaca">Oaxaca</option>
							<option value="puebla">Puebla</option>
							<option value="pv">Puerto Vallarta</option>
							<option value="tijuana">Tijuana</option>
							<option value="veracruz">Veracruz</option>
							<option value="yucatan">Yucatan</option>
						<option disabled="" value="Morocco">Morocco</option>
							<option value="casablanca">Morocco</option>
						<option disabled="" value="New Zealand">New Zealand</option>
							<option value="auckland">Auckland</option>
							<option value="christchurch">Christchurch</option>
							<option value="dunedin">Dunedin</option>
							<option value="wellington">Wellington</option>
							<option value="caribbean">Caribbean Islands</option>
						<option disabled="" value="Nicaragua">Nicaragua</option>
							<option value="managua">Nicaragua</option>
						<option disabled="" value="Panama">Panama</option>
							<option value="panama">Panama</option>
						<option disabled="" value="Peru">Peru</option>
							<option value="lima">Peru</option>
						<option disabled="" value="Puerto Rico">Puerto Rico</option>
							<option value="puertorico">Puerto Rico</option>
						<option disabled="" value="South Africa">South Africa</option>
							<option value="capetown">Cape Town</option>
							<option value="durban">Durban</option>
							<option value="johannesburg">Johannesburg</option>
							<option value="pretoria">Pretoria</option>
						<option disabled="" value="Uruguay">Uruguay</option>
							<option value="montevideo">Montevideo</option>
						<option disabled="" value="Venezuela">Venezuela</option>
							<option value="caracas">Venezuela</option>
						<option disabled="" value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
							<option value="virgin">Virgin Islands</option>
							<option value="cairo">Egypt</option>
				</select>
			</td>
			<td class="error">${request.get('error_city')}</td>
		</tr>
		<tr>
			<th><label for="category">Category</label></th>
			<td>
				<select id="category" name="category">
					<option value="ccc"${mark_selected('hhh', 'ccc', request.get('category'))}>all community</option>
					<option value="eee"${mark_selected('hhh', 'eee', request.get('category'))}>all event</option>
					<option value="sss"${mark_selected('hhh', 'sss', request.get('category'))}>all for sale / wanted</option>
					<option value="ggg"${mark_selected('hhh', 'ggg', request.get('category'))}>all gigs</option>
					<option value="hhh"${mark_selected('hhh', 'hhh', request.get('category'))}>all housing</option>
					<option disabled="" value="">--</option>
					<option value="aap"${mark_selected('hhh', 'aap', request.get('category'))}> all apartments</option>
					<option value="nfa"${mark_selected('hhh', 'nfa', request.get('category'))}> all no fee apts</option>
					<option value="hou"${mark_selected('hhh', 'hou', request.get('category'))}> apts wanted</option>
					<option value="apa"${mark_selected('hhh', 'apa', request.get('category'))}> apts/housing for rent</option>
					<option value="swp"${mark_selected('hhh', 'swp', request.get('category'))}> housing swap</option>
					<option value="hsw"${mark_selected('hhh', 'hsw', request.get('category'))}> housing wanted</option>
					<option value="off"${mark_selected('hhh', 'off', request.get('category'))}> office &amp; commercial</option>
					<option value="prk"${mark_selected('hhh', 'prk', request.get('category'))}> parking &amp; storage</option>
					<option value="reb"${mark_selected('hhh', 'reb', request.get('category'))}> real estate - by broker</option>
					<option value="reo"${mark_selected('hhh', 'reo', request.get('category'))}> real estate - by owner</option>
					<option value="rea"${mark_selected('hhh', 'rea', request.get('category'))}> real estate for sale</option>
					<option value="rew"${mark_selected('hhh', 'rew', request.get('category'))}> real estate wanted</option>
					<option value="roo"${mark_selected('hhh', 'roo', request.get('category'))}> rooms &amp; shares</option>
					<option value="sha"${mark_selected('hhh', 'sha', request.get('category'))}> rooms wanted</option>
					<option value="sbw"${mark_selected('hhh', 'sbw', request.get('category'))}> sublet/temp wanted</option>
					<option value="sub"${mark_selected('hhh', 'sub', request.get('category'))}> sublets &amp; temporary</option>
					<option value="vac"${mark_selected('hhh', 'vac', request.get('category'))}> vacation rentals</option>
					<option disabled="" value="">--</option>
					<option value="jjj"${mark_selected('hhh', 'jjj', request.get('category'))}>all jobs</option>
					<option value="ppp"${mark_selected('hhh', 'ppp', request.get('category'))}>all personals</option>
					<option value="res"${mark_selected('hhh', 'res', request.get('category'))}>all resume</option>
					<option value="bbb"${mark_selected('hhh', 'bbb', request.get('category'))}>all services offered</option>
				</select>
			</td>
			<td class="error">${request.get('error_category')}</td>
		</tr>
		<tr>
			<th><label for="query">Search For</label></th>
			<td>
				<input class="text" type="text" name="query" id="query" maxlength="100" value="${request.get('query')|h}"/>
				<input type="checkbox" id="title_only" name="title_only" value="checked" ${request.get('title_only')|h}/> <label for="title_only">only search titles</label>
			</td>
			<td class="error">${request.get('error_query')}</td>
		</tr>
		<tr>
			<th><label for="min_cost">Min Cost</label></th>
			<td><input class="text" type="text" name="min_cost" id="min_cost" maxlength="10" value="${request.get('min_cost')|h}"/></td>
			<td class="error">${request.get('error_min_cost')}</td>
		</tr>
		<tr>
			<th><label for="max_cost">Max Cost</label></th>
			<td><input class="text" type="text" name="max_cost" id="max_cost" maxlength="10" value="${request.get('max_cost')|h}"/></td>
			<td class="error">${request.get('error_max_cost')}</td>
		</tr>
		<tr>
			<th><label for="num_bedrooms"># Bedrooms</label></th>
			<td>
				<select name="num_bedrooms">
					<option value=""  ${mark_selected('', '', request.get('num_bedrooms'))}>0+</option>
					<option value="1" ${mark_selected('0','1',request.get('num_bedrooms'))}>1</option>
					<option value="2" ${mark_selected('0','2',request.get('num_bedrooms'))}>2 BR</option>
					<option value="3" ${mark_selected('0','3',request.get('num_bedrooms'))}>3 BR</option>
					<option value="4" ${mark_selected('0','4',request.get('num_bedrooms'))}>4 BR</option>
					<option value="5" ${mark_selected('0','5',request.get('num_bedrooms'))}>5 BR</option>
					<option value="6" ${mark_selected('0','6',request.get('num_bedrooms'))}>6 BR</option>
					<option value="7" ${mark_selected('0','7',request.get('num_bedrooms'))}>7 BR</option>
					<option value="8" ${mark_selected('0','8',request.get('num_bedrooms'))}>8 BR</option>
				</select>
			</td>
			<td class="error">${request.get('error_num_bedrooms')}</td>
		</tr>
		<tr>
			<th><label for="cats">Cats OK</label></th>
			<td><input type="checkbox" id="cats" name="cats" value="checked" ${request.get('cats')|h}/></td>
			<td> </td>
		</tr>
		<tr>
			<th><label for="dogs">Dogs OK</label></th>
			<td><input type="checkbox" id="dogs" name="dogs" value="checked" ${request.get('dogs')|h}/></td>
			<td> </td>
		</tr>
		<tr>
			<th><label for="pics">Must Have Image</label></th>
			<td><input type="checkbox" id="pics" name="pics" value="checked" ${request.get('pics')|h}/></td>
			<td> </td>
		</tr>
		<tr><td colspan="2">
			<input class="button" id="submit" type="submit" value="Track Ads Matching this Criteria"/>
		</td></tr>
	</table>
	</div>
</form>
