<%!
    from gaesessions import get_current_session
    from view_functions import get_yui_script_tag, str_age
%>
<%def name="title()">Your Tracker - ${title_extra}</%def>
<%inherit file="base.html"/>
<%
	sess = get_current_session()
	page_type = request.get('t')
	next = request.get('next')
	newest, reviewed, hidden = 'newest', 'reviewed', 'hidden'
	if next:
		if page_type == 'newest':
			newest = 'newest&next=%s' % next
		elif page_type == 'hidden':
			hidden = 'hidden&next=%s' % next
		else:
			reviewed = 'reviewed&next=%s' % next
	f = request.get('f')
%>

<h2 style="margin-top:0">View:
	% if page_type == 'newest':
	<b>Newest Ads</b> |
	% else:
	<a href="/view?t=newest&f=${f}">Newest Ads</a> |
	% endif
	% if page_type != 'newest' and page_type != 'hidden':
	<b>Ads I've Rated</b> |
	% else:
	<a href="/view?t=reviewed&f=${f}">Ads I've Rated</a> |
	% endif
	% if page_type == 'hidden':
	<b>Hidden Ads</b>
	% else:
	<a href="/view?t=hidden&f=${f}">Hidden Ads</a>
	% endif
</h2>
<p style="margin-bottom:0"><b>Searching:</b> ${search_desc}</p>
<div class="minor">(ads for this search last retrieved from Craigslist ${age})</div>

% if not ads:
	<p>
	% if page_type == 'newest':
		No ads
	% elif page_type == 'hidden':
		You haven't hidden any ads which
	% else:
		You haven't reviewed any ads which
	% endif
	meet this criteria.
	</p>
% else:
	<table>
	% for ad,cmt in ads:
	<tr class="adheader" id="header${ad.cid}">
		<td class="rating">
			<%
				if cmt:
					rating = cmt.rating
				else:
					rating = 0
				for i in xrange(1,6):
					if rating >= i:
						context.write('<span class="starsel" id="star%d_%s"></span>' % (i,ad.cid))
					else:
						context.write('<span class="star" id="star%d_%s"></span>' % (i,ad.cid))
			%>
		</td>
		<td class="title">${ad.title.encode('ISO-8859-1')}</td>
		<td class="cidplus">
			<div class="cid">Ad #<a href="${ad.url}" target="_blank">${ad.cid}</a></div>
			<div class="updated">updated ${str_age(ad.update_dt, now)}</div>
			% if page_type == 'hidden':
			<button id="hide${ad.cid}" class="hidebtn">Don't Hide This Ad</button>
			% else:
			<button id="hide${ad.cid}" class="hidebtn">Hide This Ad</button>
			% endif
		</td>
	</tr>
	<tr class="desc" id="desc${ad.cid}">
		<td colspan="3">
			<div class="descval">
			<%
				context.write(ad.desc.encode('ISO-8859-1'))
			%>
			</div>
		</td>
	</tr>
	<tr class="cmt" id="cmtrow${ad.cid}">
		<td colspan="2" style="border-right:0">
		<div id="cmttxt${ad.cid}">
		% if cmt:
		${cmt.cmt}
		% else:
		no comments yet
		% endif
		</div>
		</td>
		<td style="border-left:0">
			<button class="editbtn" id="edit${ad.cid}">Edit Comments</button>
		</td>
	</tr>
	<tr><td class="gap" colspan="3" id="gap${ad.cid}">&nbsp;</td></tr>
	% endfor
	</table>

	% if more:
	<a href="${request.path}&next=${more}">Next page</a>
	% endif
% endif

<%def name="footer()">
${get_yui_script_tag() | n}
<script  type="text/javascript">//<![CDATA[
CIDS = ${str([str(ad.cid) for ad,cmt in ads])};
SHOW_HIDDEN_ADS = ${int(page_type == 'hidden')};
//]]></script>
<script type="text/javascript" src="/js/view.js"></script>
</%def>
