<%def name="title_sep()"></%def>
<%def name="title()"></%def>
<%def name="page_title()"></%def>
<%def name="head()"><meta name="Description" content="CraigNotes is a free service which helps you track your favorite Craiglist ads - rate them, take notes, and hide irrelevant ads!"/></%def>
<%inherit file="base.html"/>

<div class="text-block">
<p>
<b><a href="http://www.craignotes.org">CraigNotes</a></b> is a
<span style="color:green"><i>free</i></span> service which helps you track
<i>your</i> favorite <a href="http://www.craigslist.org" target="_blank">Craigslist</a> ads.
</p>

<div style="color:#800; font-weight:bold">Sorry, but CraigNotes is longer available (Craigslist changed their format, and I no longer have time to maintain the site).</div>
<p>(old screenshots <a href="http://dound.smugmug.com/CraigNotes/CraigNotes/13727895_45mD6V">here</a> for fun, and source <a href="https://github.com/dound/CraigNotes">here</a>)</p>

<h2>Features:</h2>
<ul>
	<li>Rate ads</li>
	<li>Add notes to ads</li>
	<li>Hide irrelevant ads and spam</li>
	<li>Watch for the newest posts which match your needs</li>
	<li>Ads you're tracking don't disappear - on Craigslist, ads vanish after just one week.</li>
</ul>

