<%!
    from gaesessions import get_current_session
%>
<%def name="title()">Your Tracker</%def>
<%inherit file="base.html"/>
<%
    sess = get_current_session()
    is_own_profile = sess.get('my_id') == uid
%>
% if feeds:
<table>
	<tr style="background-color:#EEE">
		<th>Actions</th>
		<th>City/Region</th>
		<th>Category</th>
		<th>Cost</th>
		<th># BR</th>
		<th>Pets</th>
		<th>Search Keywords</th>
		<th>Neighborhoods</th>
	</tr>
	% for f in feeds:
	<% f.extract_values() %>
	<tr>
		<td><a href="/view/${f.key().name()|u}">View</a> |
			<a href="/delete/${f.key().name()|u}">Delete</a>
		</td>
		<td>${f.city_str()}</td>
		<td>${f.category_str()}</td>
		<td>${f.cost_str()}</td>
		<td>${f.num_bedrooms}</td>
		<td>${f.pets_str()}</td>
		<td>${f.query|h}
		% if f.search_type == 'T':
			<i>(must be in the title)</i>
		% endif
		</td>
		<td>${}</td>
	</tr>
	% endfor
</table>
% else:
<p>You aren't tracking any searches yet.</p>
% endif

<p><b><a href="/new">Start a new search</a></b></p>
