<%def name="title()">Your Searches</%def>
<%inherit file="base.html"/>
<%def name="head()">
<style type="text/css">
	th {border-bottom-width:2px;}
	#manual td, #manual th {
		border-top-width:2px;
		border-bottom-width:3px;
	}
	#combined th {border-bottom-width:1px;}
</style>
</%def>
% if feed_infos:
<table>
	<tr style="background-color:#EEE">
		<th>Search Name</th>
		<th>City/Region</th>
		<th>Category</th>
		<th>Cost</th>
		<th># BR</th>
		<th>Pets</th>
		<th>Search Keywords</th>
		<th>Neighborhoods</th>
		<th>Delete</th>
	</tr>
	% for fname,f in feed_infos:
	<% f.extract_values() %>
	<tr>
		<td><b><a href="/view?t=newest&amp;f=${f.key().name()|h}">${fname|h}</a></b></td>
		<td>${f.city_str()}${f.area_str(True)}</td>
		<td>${f.category_str()}</td>
		<td>${f.cost_str()}</td>
		<td>${f.bedrooms_str()}</td>
		<td>${f.pets_str()}</td>
		<td>${f.query|h}
		% if f.search_type == 'T':
			<br/><i>(must be in the title)</i>
		% endif
		</td>
		<td>${f.neighborhoods_str()}</td>
		<td>
			<a href="/delete?f=${f.key().name()|h}">Delete</a><br/>
			<a href="/search/rename?f=${f.key().name()|h}&amp;current_name=${fname|h}">Rename</a>
		</td>
	</tr>
	% endfor
	<tr style="background-color:#FFE" id="manual">
		<th>Manual</th>
		<td colspan="4" style="border-right:0">
			<a href="/view?t=reviewed&amp;f=manual">View ads you manually added</a><br/>
			<a href="/view?t=hidden&amp;f=manual">View ads you manually added and hid</a>
		</td>
		<td colspan="4" style="border-left:0">
			<i>Want to track a specific ad?</i><br/>
			<a href="/track/specific_ad">Click here to start tracking it.</a>
		</td>
	</tr>
	<tr style="background-color:#EFE" id="combined">
		<th>Combined Views</th>
		<td colspan="8">
			<a href="/view?t=reviewed&amp;f=">View ALL ads you've rated/noted</a><br/>
			<a href="/view?t=hidden&amp;f=">View ALL ads you've hidden</a>
		</td>
	</tr>
</table>
% else:
<p>You aren't tracking any searches right now.</p>
% endif

<h2><a href="/new">Start a new search</a></h2>
<p><a href="/profile/update">Update your profile</a></p>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.craignotes.org%2F&amp;layout=standard&amp;show_faces=true&amp;width=720&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:720px; height:80px;"></iframe>
