<%def name="title()">Your Tracker</%def>
<%inherit file="base.html"/>
% if feed_infos:
<table>
	<tr style="background-color:#EEE">
		<th>Search Name</th>
		<th>City/Region</th>
		<th>Category</th>
		<th>Cost</th>
		<th># BR</th>
		<th>Pets</th>
		<th>Search Keywords</th>
		<th>Neighborhoods</th>
		<th>Delete</th>
	</tr>
	% for fname,f in feed_infos:
	<% f.extract_values() %>
	<tr>
		<td><a href="/view?t=newest&f=${f.key().name()|u}">${fname|h}</a></td>
		<td>${f.city_str()}${f.area_str(True)}</td>
		<td>${f.category_str()}</td>
		<td>${f.cost_str()}</td>
		<td>${f.bedrooms_str()}</td>
		<td>${f.pets_str()}</td>
		<td>${f.query|h}
		% if f.search_type == 'T':
			<br/><i>(must be in the title)</i>
		% endif
		</td>
		<td>${f.neighborhoods_str()}</td>
		<td><a href="/delete?f=${f.key().name()|u}">Delete</a></td>
	</tr>
	% endfor
</table>
% else:
<p>You aren't tracking any searches right now.</p>
% endif

<p><b><a href="/new">Start a new search</a></b></p>
<p><a href="/profile/update">Update your profile</a></p>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.craignotes.org%2F&amp;layout=standard&amp;show_faces=true&amp;width=720&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:720px; height:80px;" allowTransparency="true"></iframe>
