<%!
    from gaesessions import get_current_session
%>
<%def name="title()">Edit Your Profile</%def>
<%inherit file="base.html"/>
<form action="/profile/update" method="post" id="form">
	<table class="form">
		<tr>
			<th><label for="dname">Display Name</label></th>
			<td><input class="text" type="text" name="dname" id="dname" maxlength="100" value="${request.get('dname', display_name)|h}"/></td>
			<td class="error">${request.get('error_dname')}</td>
		</tr>
		<tr>
			<th><label for="email">E-mail</label></th>
			<td>
				<input class="text" type="text" name="email" id="email" maxlength="100" value="${request.get('email', email)|h}"/>
			</td>
			<td class="error">${request.get('error_email')}</td>
		</tr>
		<tr>
			<td style="padding-top:0"></td>
			<td style="padding-top:0">
				<div class="minor">
				Your e-mail is <i>never</i> shared with others.<br/>
				</div>
			</td>
		</tr>
		<tr><td colspan="2">
			<input class="button" id="submit" type="submit" value="Update Your Profile"/>
		</td></tr>
	</table>
	<p><a href="/tracker">Go back to your Craigslist search tracker.</a></p>
</form>